body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333;
 
}

/* Article Section */
.article-section {
  margin-top: 1000%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.article-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  background: linear-gradient(to right, #6e8efb, #c068eb);
    background-clip: text;
    color: transparent;}

.article-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #444;
}

.article-section h3 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #444;
}

.article-section p {
  font-size: 1rem;
  line-height: 1.8;
  color: #666;
  margin-top: 10px;
}

.article-section p:last-child {
  margin-bottom: 20px;
}

/* Image styling */
.article-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
